
html * {
    font-family: sans-serif !important;
}
@media screen and (min-width: 1200px){
    #container {
        width: 1200px;
    }
}

@media screen and (max-width: 1200px){
    #container {
        width: 100%;
    }
}

#wrapper {
    width: 100%;
}

#soccerfield {
    width: 70%;
    float: left;

}

#menucolumn {
    margin-left: 2%;
    width: 28%;
    float: left;
}

.isotopeWrapper{
    overflow: auto;
}

#p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

#p.serif {
    font-family: "Times New Roman", Times, serif;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


.toggle-button { background-color: white; margin: 0px 0; border-radius: 20px; border: 2px solid #D0D0D0; height: 28px; cursor: pointer; width: 50px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.toggle-button button { cursor: pointer; outline: 0; display:block; position: absolute; left: 0; top: 0; border-radius: 100%; width: 30px; height: 30px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0; transition: left 0.3s; }
.toggle-button-selected { background-color: #83B152; border: 2px solid #7DA652; }
.toggle-button-selected button { left: 22px; top: 0; margin: 0; border: none; width: 24px; height: 24px; box-shadow: 0 0 4px rgba(0,0,0,0.1); }
.center { text-align:center; }


/*
body p
{
    font-size: 20px !important;
    color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}*/



