
html * {
    font-family: sans-serif !important;

}



#soccerfield {
    float: left;
    padding: 0;
}

#menucolumn {
    float: right;
    width: 100px;
}

#sorts {
    padding: 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 34px;
}

#isotopeWrapper {
    overflow: auto;
    position:absolute;
    top:50px;
}

#sliderDiv {
    width: 90%;
    margin-left: 5%;
    bottom: 20px;
    position: absolute;

}

#p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

#p.serif {
    font-family: "Times New Roman", Times, serif;
}

/*
body p
{
    font-size: 20px !important;
    color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}*/



