
html * {
    font-family: sans-serif !important;

}
@media screen and (min-width: 1200px){
    #container {
        width: 1200px;
    }
}

@media screen and (max-width: 1200px){
    #container {
        width: 100%;
    }
}

#wrapper {
    width: 100%;
}

#soccerfield {
    width: 70%;
    float: left;
}

#menucolumn {
    margin-left: 2%;
    width: 28%;
    float: left;
}

.isotopeWrapper{
    overflow: auto;
}

#p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

#p.serif {
    font-family: "Times New Roman", Times, serif;
}

/*
body p
{
    font-size: 20px !important;
    color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}*/



